__pycache__/
*.pyc
*.pth
*.onnx
.venv
.git
.cache/
.weights/
.idea/
.vscode/
.gitignore
.ipynb_checkpoints
images/
nomerogram_data/
saves/
videos/
datasets/
runs/
tempCodeRunnerFile.py
train.ipynb
trash.py
